<p id="notice"><%= notice %></p>
<%= image_tag @array[1], size: "80x60" %>
<p>
  <strong>Etiketler:</strong>
  	<% @array[0].each do |tag,poss| %><br>
  		<%= "#{tag}: #{poss}" %><br>
  	<% end %>
</p>

<p>

<h1>Öneriler</h1>

<p>
  <strong>Öneriler:</strong>
	  	<% if !@sugglist.empty? %><br>
		  	<% (@sugglist.keys).each do |url| %><br>
		  		<%= image_tag url.to_s, size: "80x60" %>
		  	<% end %>
		<% else %>
			<%= "Öneri yok" %>
	  	<% end %>
</p>

<%= link_to 'Geri', pictures_path %> 
